<table
  style="font-size: medium; font-family: Arial"
  class="table__StyledTable-sc-1avdl6r-0 iasblw"
  cellspacing="0"
  cellpadding="0"
>
  <tbody>
    <tr>
      <td>
        <table
          style="font-size: medium; font-family: Arial"
          class="table__StyledTable-sc-1avdl6r-0 iasblw"
          cellspacing="0"
          cellpadding="0"
        >
          <tbody>
            <tr>
              <td style="vertical-align: top">
                <table
                  style="font-size: medium; font-family: Arial"
                  class="table__StyledTable-sc-1avdl6r-0 iasblw"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tbody>
                    <tr>
                      <td
                        style="text-align: center"
                        class="template1__ImageContainer-sc-nmby7a-0 jTxCHa"
                      >
                        <img
                          src="https://files.ink.fish/sigmaker/if.png"
                          role="presentation"
                          style="display: block; max-width: 130px"
                          class="image__StyledImage-sc-hupvqm-0 eLouvR"
                          width="130"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td height="30"></td>
                    </tr>
                    <tr>
                      <td style="text-align: center">
                        <table
                          style="
                            display: inline-block;
                            font-size: medium;
                            font-family: Arial;
                          "
                          class="table__StyledTable-sc-1avdl6r-0 iasblw"
                          cellspacing="0"
                          cellpadding="0"
                        >
                          <tbody>
                            <tr style="text-align: center">
                              <td>
                                <a
                                  href="//www.facebook.com"
                                  color="#0C0732"
                                  style="
                                    display: inline-block;
                                    padding: 0px;
                                    background-color: rgb(12, 7, 50);
                                  "
                                  class="social-links__LinkAnchor-sc-py8uhj-2 kyynGZ"
                                  ><img
                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/facebook-icon-2x.png"
                                    alt="facebook"
                                    color="#0C0732"
                                    style="
                                      background-color: rgb(12, 7, 50);
                                      max-width: 135px;
                                      display: block;
                                    "
                                    class="social-links__LinkImage-sc-py8uhj-1 cKHJaU"
                                    height="24"
                                /></a>
                              </td>
                              <td width="5"><div></div></td>
                              <td>
                                <a
                                  href="//www.linkedin.com"
                                  color="#0C0732"
                                  style="
                                    display: inline-block;
                                    padding: 0px;
                                    background-color: rgb(12, 7, 50);
                                  "
                                  class="social-links__LinkAnchor-sc-py8uhj-2 kyynGZ"
                                  ><img
                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png"
                                    alt="linkedin"
                                    color="#0C0732"
                                    style="
                                      background-color: rgb(12, 7, 50);
                                      max-width: 135px;
                                      display: block;
                                    "
                                    class="social-links__LinkImage-sc-py8uhj-1 cKHJaU"
                                    height="24"
                                /></a>
                              </td>
                              <td width="5"><div></div></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="46"><div></div></td>
              <td style="padding: 0px; vertical-align: middle">
                <h2
                  color="#0C0732"
                  style="
                    margin: 0px;
                    font-size: 18px;
                    color: rgb(12, 7, 50);
                    font-weight: 600;
                  "
                  class="name__NameContainer-sc-1m457h3-0 jCjfGD"
                >
                  <span>ADam</span><span>&nbsp;</span><span>Shard</span>
                </h2>
                <p
                  color="#0C0732"
                  font-size="medium"
                  style="
                    margin: 0px;
                    color: rgb(12, 7, 50);
                    font-size: 14px;
                    line-height: 22px;
                  "
                  class="job-title__Container-sc-1hmtp73-0 ibpiyI"
                >
                  <span>Professiona Typest</span>
                </p>
                <p
                  color="#0C0732"
                  font-size="medium"
                  style="
                    margin: 0px;
                    font-weight: 500;
                    color: rgb(12, 7, 50);
                    font-size: 14px;
                    line-height: 22px;
                  "
                  class="company-details__CompanyContainer-sc-j5pyy8-0 haLCeu"
                >
                  <span>Haume Inc.</span>
                </p>
                <p
                  color="#0C0732"
                  font-size="medium"
                  style="
                    color: rgb(12, 7, 50);
                    margin: 0px;
                    font-size: 14px;
                    line-height: 22px;
                  "
                  class="custom-field__CustomFieldContainer-sc-190n2f-0 hXbvbV"
                >
                  <span>Deeply curious</span>
                </p>
                <table
                  style="width: 100%; font-size: medium; font-family: Arial"
                  class="table__StyledTable-sc-1avdl6r-0 iasblw"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tbody>
                    <tr>
                      <td height="30"></td>
                    </tr>
                    <tr>
                      <td
                        color="#8EA5C7"
                        direction="horizontal"
                        style="
                          width: 100%;
                          border-bottom: 1px solid rgb(142, 165, 199);
                          border-left: medium none;
                          display: block;
                        "
                        class="color-divider__Divider-sc-1h38qjv-0 dVPycS"
                        width="auto"
                        height="1"
                      ></td>
                    </tr>
                    <tr>
                      <td height="30"></td>
                    </tr>
                  </tbody>
                </table>
                <table
                  style="font-size: medium; font-family: Arial"
                  class="table__StyledTable-sc-1avdl6r-0 iasblw"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tbody>
                    <tr style="vertical-align: middle" height="25">
                      <td style="vertical-align: middle" width="30">
                        <table
                          style="font-size: medium; font-family: Arial"
                          class="table__StyledTable-sc-1avdl6r-0 iasblw"
                          cellspacing="0"
                          cellpadding="0"
                        >
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom">
                                <span
                                  color="#8EA5C7"
                                  width="11"
                                  style="
                                    display: inline-block;
                                    background-color: rgb(142, 165, 199);
                                  "
                                  class="contact-info__IconWrapper-sc-mmkjr6-1 eOlNoC"
                                  ><img
                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png"
                                    color="#8EA5C7"
                                    alt="mobilePhone"
                                    style="
                                      display: block;
                                      background-color: rgb(142, 165, 199);
                                    "
                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 glcxte"
                                    width="13"
                                /></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px; color: rgb(12, 7, 50)">
                        <a
                          href="tel:+64 21 499 772"
                          color="#0C0732"
                          style="
                            text-decoration: none;
                            color: rgb(12, 7, 50);
                            font-size: 12px;
                          "
                          class="contact-info__ExternalLink-sc-mmkjr6-2 dwaWtg"
                          ><span>+64 21 499 772</span></a
                        >
                      </td>
                    </tr>
                    <tr style="vertical-align: middle" height="25">
                      <td style="vertical-align: middle" width="30">
                        <table
                          style="font-size: medium; font-family: Arial"
                          class="table__StyledTable-sc-1avdl6r-0 iasblw"
                          cellspacing="0"
                          cellpadding="0"
                        >
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom">
                                <span
                                  color="#8EA5C7"
                                  width="11"
                                  style="
                                    display: inline-block;
                                    background-color: rgb(142, 165, 199);
                                  "
                                  class="contact-info__IconWrapper-sc-mmkjr6-1 eOlNoC"
                                  ><img
                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png"
                                    color="#8EA5C7"
                                    alt="emailAddress"
                                    style="
                                      display: block;
                                      background-color: rgb(142, 165, 199);
                                    "
                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 glcxte"
                                    width="13"
                                /></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px">
                        <a
                          href="mailto:adam@shand.net"
                          color="#0C0732"
                          style="
                            text-decoration: none;
                            color: rgb(12, 7, 50);
                            font-size: 12px;
                          "
                          class="contact-info__ExternalLink-sc-mmkjr6-2 dwaWtg"
                          ><span>adam@shand.net</span></a
                        >
                      </td>
                    </tr>
                    <tr style="vertical-align: middle" height="25">
                      <td style="vertical-align: middle" width="30">
                        <table
                          style="font-size: medium; font-family: Arial"
                          class="table__StyledTable-sc-1avdl6r-0 iasblw"
                          cellspacing="0"
                          cellpadding="0"
                        >
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom">
                                <span
                                  color="#8EA5C7"
                                  width="11"
                                  style="
                                    display: inline-block;
                                    background-color: rgb(142, 165, 199);
                                  "
                                  class="contact-info__IconWrapper-sc-mmkjr6-1 eOlNoC"
                                  ><img
                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png"
                                    color="#8EA5C7"
                                    alt="website"
                                    style="
                                      display: block;
                                      background-color: rgb(142, 165, 199);
                                    "
                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 glcxte"
                                    width="13"
                                /></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px">
                        <a
                          href="//www.adam.nz"
                          color="#0C0732"
                          style="
                            text-decoration: none;
                            color: rgb(12, 7, 50);
                            font-size: 12px;
                          "
                          class="contact-info__ExternalLink-sc-mmkjr6-2 dwaWtg"
                          ><span>www.adam.nz</span></a
                        >
                      </td>
                    </tr>
                    <tr style="vertical-align: middle" height="25">
                      <td style="vertical-align: middle" width="30">
                        <table
                          style="font-size: medium; font-family: Arial"
                          class="table__StyledTable-sc-1avdl6r-0 iasblw"
                          cellspacing="0"
                          cellpadding="0"
                        >
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom">
                                <span
                                  color="#8EA5C7"
                                  width="11"
                                  style="
                                    display: inline-block;
                                    background-color: rgb(142, 165, 199);
                                  "
                                  class="contact-info__IconWrapper-sc-mmkjr6-1 eOlNoC"
                                  ><img
                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/address-icon-2x.png"
                                    color="#8EA5C7"
                                    alt="address"
                                    style="
                                      display: block;
                                      background-color: rgb(142, 165, 199);
                                    "
                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 glcxte"
                                    width="13"
                                /></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px">
                        <span
                          color="#0C0732"
                          style="font-size: 12px; color: rgb(12, 7, 50)"
                          class="contact-info__Address-sc-mmkjr6-3 ikFVIq"
                          ><span>Kapiti Coast, New Zealand</span></span
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table
                  style="font-size: medium; font-family: Arial"
                  class="table__StyledTable-sc-1avdl6r-0 iasblw"
                  cellspacing="0"
                  cellpadding="0"
                >
                  <tbody>
                    <tr>
                      <td height="30"></td>
                    </tr>
                  </tbody>
                </table>
                <a
                  href="https://www.hubspot.com/email-signature-generator?utm_source=create-signature"
                  target="_blank"
                  rel="noopener noreferrer"
                  style="font-size: 12px; display: block; color: rgb(12, 7, 50)"
                  class="viral-link__Anchor-sc-1kv0kjx-0 ZsxMI"
                  >Create Your Own Free Signature</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
